.color-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.color-input-circle {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #fff;
  background-image: none;
}
.checked-selected {
  padding: 4px;
}
.color-label {
  font-size: 0.875rem;
  font-weight: 400;
}
