@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}

image,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
